.imp{
    background-image: url("https://images.alphacoders.com/116/1168055.jpg");
    padding-top: 30px;
    padding-bottom: 43px;
}
.container {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 60px -20px auto 30px;
    
}
h3{
    margin: 181px -30px 180px 40px;
    background-color: rgba(0, 0, 0, 0.795);
}
h2{
    text-align: center;
    margin: 35px auto 10px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 90px auto 90px auto;
}
.card{
    box-shadow: 5px 4px 4px 2px rgba(131, 8, 8, 0.87) ;
}
hr{
    width: 5px;
    color:solid rgb(255, 162, 0);
    margin: auto 10% auto 10%;
}
footer{
    background-color: midnightblue;
}
.end{
    display: flex;
    justify-content: center;
    padding: 40px;
}
i{
    padding: 20px;
}
.contacting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.text-uppercase{
    text-align: center;
    margin: 25px auto 16px auto;
}
span, h6, p{
    color: white;
}